{% load staticfiles %}
<html>
<head>
	<title> IP List </title>
	<link rel="stylesheet" href="{% static 'css/ttq.css' %}">
</head>
<body>
{% csrf_token %}
<form action="" method="get">

{% for list in h_list %}
<label><input name="IP" type="checkbox" value="{{ list.ip }}" />{{list.name}} </label>
<br />
{% endfor %}
<br />

<div class="host_list">
<table border="1" cellspacing="0" cellpadding="0" bordercolor="#B0C4DE">
<tr>
	<th width="500">IP</th>
	<th width="500">Name</th>
</tr>

{% for list in h_list %}
<tr>
	<td align="center">{{list.ip}}</td>
	<td align="center">{{list.name}}</td>
</tr>
{% endfor %}

</table>
</div>

</br>
<div class="upload_submit">
	<button type="submit" class="submit" style="background:#0040FF;" >submit</button>
</div>

</form>

</body>
</html>