{% extends 'ttq/base.html' %}
{% block content %}


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'ttq.views.release_hist' %}"><span class="glyphicon glyphicon-dashboard"></span> 发布记录</a></li>
			<li><a href="{% url 'ttq.views.publish' %}"><span class="glyphicon glyphicon-th"></span> 版本发布</a></li>
			<li ><a href="{% url 'ttq.views.uploads_file' %}"><span class="glyphicon glyphicon-stats"></span>文件上传</a></li>
			<li ><a href="{% url 'ttq.views.commexec' %}"><span class="glyphicon glyphicon-list-alt"></span>命令执行</a></li>
			<li><a href="{% url 'ttq.views.rollback_form' %}"><span class="glyphicon glyphicon-list-alt"></span>版本回退</a></li>

		</ul>
		<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
	</div><!--/.sidebar-->
<h3 >项目版本发布记录</h1>

<form enctype="multipart/form-data" method='post'>
{% csrf_token %}

<table class="release_history" border="1" cellspacing="0" cellpadding="0" bordercolor="#B0C4DE">
<tr bgcolor=#C4E1FF>
	<td class="history_preject">Project</td>
	<td class="history_zip">Zip</td>
	<td class="history_time">Time</td>
	<td class="history_user">User</td>
	<td class="history_result">Result</td>
</tr>

{% for list in re_list %}
<tr>
	<td class="history_list">{{ list.project_name }}</td>
	<td class="history_list">{{ list.filename }}</td>
	<td class="history_list">{{ list.release_time }}</td>
	<td class="history_list">{{ list.user }}</td>
	<td class="history_list">{{ list.results }}</td>
</tr>
{% endfor %}

</table>

{% endblock content %}