{% extends 'ttq/base.html' %}
{% block content %}


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="{% url 'ttq.views.release_hist' %}"><span class="glyphicon glyphicon-dashboard"></span> 发布记录</a></li>
			<li class="active" ><a href="{% url 'ttq.views.publish' %}"><span class="glyphicon glyphicon-th"></span> 版本发布</a></li>
			<li><a href="{% url 'ttq.views.uploads_file' %}"><span class="glyphicon glyphicon-stats"></span>文件上传</a></li>
			<li ><a href="{% url 'ttq.views.commexec' %}"><span class="glyphicon glyphicon-list-alt"></span>命令执行</a></li>
			<li><a href="{% url 'ttq.views.rollback_form' %}"><span class="glyphicon glyphicon-list-alt"></span>版本回退</a></li>

		</ul>
		<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
	</div><!--/.sidebar-->
		


<form enctype="multipart/form-data" method='post'>
{% csrf_token %}

<br />
<table class="commond">
<tr>
	<td class="commond_title">发布包</td>
	<td class="commond_line">{{form.zipname}}</td>
</tr>
</table>

<p class="commond_line">{{form.project_name}}</p>

<br />
<button type="submit" class="submit">版本发布</button>

</form>


{% endblock content %}