{% extends 'ttq/base.html' %}
{% block content %}


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="{% url 'ttq.views.release_hist' %}"><span class="glyphicon glyphicon-dashboard"></span> 发布记录</a></li>
			<li><a href="{% url 'ttq.views.publish' %}"><span class="glyphicon glyphicon-th"></span> 版本发布</a></li>
			<li><a href="{% url 'ttq.views.uploads_file' %}"><span class="glyphicon glyphicon-stats"></span>文件上传</a></li>
			<li ><a href="{% url 'ttq.views.commexec' %}"><span class="glyphicon glyphicon-list-alt"></span>命令执行</a></li>
			<li class="active"><a href="{% url 'ttq.views.rollback_form' %}"><span class="glyphicon glyphicon-list-alt"></span>版本回退</a></li>
		</ul>
		<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
	</div><!--/.sidebar-->
		

<script type="text/javascript">
$(document).ready(function(){
	$('#id_project').change(function(){
		$("#id_backfile").html("<option>---------</option>")
		var cid = $('#id_project').val()
		$.get("{% url 'ttq.views.backfile_list' %}",{'cid':cid},function(ret) {
            for (var i = ret.length - 1 ; i >= 0; i--)  {
            	$("#id_backfile").append("<option>"+ret[i]+"</option>");
          };
		});		
            });


        function roll(){ 
            $("form").submit();  
        };  
          
        function error(title,message){  
            $.confirm({  
                'title'     : title,  
                'message'   : message,  
                'buttons'   : {  
                    '返回'    : {  
                        'class' : 'blue',  
                        'action': function(){}  
                    }  
                }  
            });  
        };  
        function warn(title,message,fun){  
            $.confirm({  
                'title'     : title,  
                'message'   : message,  
                'buttons'   : {  
                    'Yes'   : {  
                        'class' : 'blue',  
                        'action': fun  
                    },  
                    'No'    : {  
                        'class' : 'gray',  
                        'action': function(){
                        	return false
                        }  
                    }  
                }  
            });  
        };  
        $('#rback').click(function(){  
			var pname = $('#id_project').val()
			var backfile = $('#id_backfile').val()
			if(pname == ""||backfile=="---------"){  
                error('错误','请选择项目及版本再执行！')  
                return false;  
            };  
            warn('警告','你确定要回滚吗？',roll);  
        });  

        });
</script>


<form  method='post'>
{% csrf_token %}
<br />

<table class="rollback">

<tr>
	<td class="rollback_project">{{form.project}}</td>
	<td class="rollback_file">{{form.backfile}}</td>
</tr>
</table>

<br />
<button type="button" class="submit" id="rback" >Roll-back</button>
</form>


{% endblock content %}